.rect1{
    width:200px;
    height:100px;
    border:5px solid red;
    margin-left: 10px ;
    
    
}
.rect2{
    width:200px;
    height:100px;
    border:5px solid yellow;
    margin-left: 30px;  
}
.rect3{
    border:5px solid blue;
    width:200px;
    height:100px;

display:inline-block
}
.rect4{
    border:5px solid orangered;
    width:200px;
    height:100px;

display:inline-block
}
body{
    background-image: url('IMG_20170311_145847_1489322355179.jpg');
    height: 500px;
    width:100;
background-repeat: no-repeat;
background-size:cover ;
}